/*Applies Raleway font and centers text*/
body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/*Removes dots from list and centers list perfectly*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 24px;
}

/*Styles pokemon buttons*/
.pokemon-node {
  width: 200px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 20px;
  background: #eee;
  font-family: 'Raleway', sans-serif;
  color: #333;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

/*Adds hover effect to pokemon button*/
.pokemon-node:hover, .pokemon-node:focus {
  color: white;
  background-color: #333;
  outline: none;
}
